@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--This is a view component template-->
@model IEnumerable<MenuItem>
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Popular Brews <small>as of @DateTime.Now</small></h2>
        @foreach (var menuItem in Model)
        {
            <p>
                <span class="card-text text-success">@menuItem.Name</span>
                - @menuItem.Description
                <i>@menuItem.Calories calories</i><i> $3.49</i>
            </p>
        }
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-success">Full Menu</a>
    </div>
</div>